@page "/machines"

@rendermode InteractiveServer
@using DotNetExercise16.Entities
@using DotNetExercise16.Components.Subcomponents
@inject MachinePark machinePark;

<!-- Copied from the weather template without necessarily understanding it-->
@attribute [StreamRendering]

<!-- Copied from home template without necessarily understanding it-->
<PageTitle>Machines</PageTitle>

<h1>Machines</h1>

<!--From the weather template again-->
@if (machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="/create_machine">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Id</th>
                <th>Status</th>
                <th>Time of Last Message</th>
                <th>Last Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in machines)
            {
                <MachineRow Machine ="@machine"></MachineRow>
                
            }
        </tbody>
    </table>

}

<MachineStatistics machines ="@machines"></MachineStatistics>

@code {
    private List<Machine>? machines;

    protected override void OnInitialized()
    {
        machines = machinePark.Machines;
    }
}
